@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

*{ 
    padding: 0; 
    margin: 0; 
    font-family: 'Bubblegum Sans', cursive;
    color: #636363; 
} 

body{ 
    background-image: url("/assets/images/animal-crossing-new-horizons-tom-nook-and-nooklings-uhd-4k-wallpaper.jpg"); 
    background-size: cover; 
    background-position: center bottom; 
    align-content: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}

h1 { 
    font-size: 70px; 
    display: block; 
    text-align: center; 
    margin: 5vh; 
} 

h2 { 
    font-size: 45px; 
    text-align: center; 
    margin: 5vh; 
}

.buttondiv { 
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    align-items: center; 
    justify-content: center;
} 

.buttondiv a {
    text-decoration: none;
    margin: 25px;
}

.buttondiv button {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 50px;
}

.buttonIndex{ 
    display: block; 
    width: 300px; 
    height: 90px; 
    border-radius: 30px; 
    border: 3px solid #636363; 
    font-size: 25px; 
    font-weight: bold;  
    box-shadow: 5px 10px lightgray;
} 
 a { 
    text-decoration: none; 
} 
.selectDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

select {
    padding: 10px;
    width: 200px;
    margin-bottom: 40px;
}

.icon {
    font-size: 50px;
    padding: 50px 50px;

}

.hidden {
    display: hidden;
}

.registerDiv {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}

.registerDiv input {
    width: 250px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.loginDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 30px;
}

.loginDiv input {
    width: 250px;
    font-size: 20px;
    margin: 0 20px 50px 20px;
    padding: 10px;
}

.logoutBtn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px; 
    border: 3px solid #636363; 
    font-size: 20px; 
    font-weight: bold;  
    box-shadow: 5px 10px lightgray;
    margin-right: 50px;
}

.headerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  
} 

 .flowerTable , th, tr { 
   border: 1px solid black; 
 } 
.flowerTable { 
    width: 200px; 

    margin-bottom: 20px; 
    height: 300px; 
    margin: 20px; 
    background-color: white; 
} 
th { 
    height: 30px; 
} 


.tableDiv { 
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    align-items: center; 
    justify-content: space-between; 
} 

.islandButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 350px;
}